body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.login {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.login h2 {
    margin-bottom: 20px;
    color: #333;
}

.login label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-weight: bold;
    color: #555;
}

.login input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.login input:focus {
    border-color: #007BFF;
    outline: none;
}

.login button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}


/*Page APP*/

#bodyapp {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 20px 0 10px;
    font-size: 18px;
    color: #555;
}

#question {
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

